<button (click)="addSkill()">add skill</button>

<form [formGroup]="fg">
  <div formArrayName="zoneTariffplans">
    <table>
    <div *ngFor="let zoneTariffplan of fg.controls.zoneTariffplans.controls; let i=index">
      <tr [formGroupName] = "i">
        <td>Zone</td>
        <td>
          <select formControlName="zone">
            <option value="z1">Zone1</option>
            <option value="z2">Zone2</option>
          </select>
        </td>
        <td>Tariffplan</td>
        <td>
          <select formControlName="tariffplan">
            <option value="tp1">Tariffplan1</option>
            <option value="tp2">Tariffplan2</option>
          </select>
        </td>
      </tr>

    </div>
  </table>
  </div>    
</form>

<button (click)="save()">Save</button>